@page
@using Packt.Shared;
@model Clinica.Web.Pages.ClientesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
	<h2 class="display-4">Clientes</h2>
	<table class="table">
		<thead class="thead-inverse">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Edad</th>
				<th>Identidad</th>
				<th>Direccion</th>
				<th>Teléfono</th>
			</tr>
		</thead>
		<tbody>
			@if(Model.customers is not null)
			{
				@foreach(Cliente c in Model.customers)
				{
					<tr>
						<td>@c.ClientesId</td>
						<td>@c.Nombre</td>
						<td>@c.Apellido</td>
						<td>@c.Edad</td>
						<td>@c.Identidad</td>
						<td>@c.Direccion</td>
						<td>@c.Telefono</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>

<div class="row">
	<p></p>
	<form method="post" class="form-control w-50 mx-auto p-2">
		
		<h3 class="text-center">Ingrese los detalles para el nuevo cliente:</h3>
		<div class="container d-flex flex-column mx-auto">
			<br />
			<input asp-for="Cliente.Nombre" placeholder="Nombre Cliente" class="form-control"/>
			<br />
			<input asp-for="Cliente.Apellido" placeholder="Apellido" class="form-control"/>
			<br />
			<input asp-for="Cliente.Identidad" placeholder="Identidad" class="form-control"/>
			<br />
			<textarea asp-for="Cliente.Direccion" placeholder="Dirección" class="form-control"></textarea>
			<br />
			<input asp-for="Cliente.Telefono" placeholder="Telefono" class="form-control"/>
			<br />
			<input asp-for="Cliente.Edad" placeholder="Edad" class="form-control"/>
			<br />
			<input class="btn btn-success w-50 mx-auto" type="submit" value="Guardar"/>
		</div>
	</form>
</div>