@model Packt.Shared.Avione

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Está seguro de eliminar?</h3>
<div>
    <h4>Avione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Envergadura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Envergadura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Velocidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Velocidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compania)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechadquisicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechadquisicion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAvion" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </form>
</div>
