@model Packt.Shared.Vuelo

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Está seguro de eliminar?</h3>
<div>
    <h4>Vuelo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horariosalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horariosalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horariollegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horariollegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAvionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAvionNavigation!.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPilotoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPilotoNavigation!.Usuario1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVuelo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </form>
</div>
