@model Packt.Shared.Vuelo

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Vuelo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horariosalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horariosalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horariollegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horariollegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAvionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAvionNavigation!.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPilotoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPilotoNavigation!.Usuario1)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning text-decoration-none" asp-action="Edit" asp-route-id="@Model?.IdVuelo">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>
